@model GestionVentas.Models.Usuarios

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h4>¿Deseás desactivar este usuario?</h4>
<form asp-action="Delete">
    <input type="hidden" asp-for="UsuarioID" />
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Estado" /> Activo
        </label>
    </div>
    <button type="submit" class="btn btn-danger">Guardar cambios</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
    
</div>
